html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 10px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  text-align: inherit;
  background: inherit;
}

div.simple-intro{
  background: #d7f4ff;
  width: 70%;
  height: 40%;
  position: relative;
  float: right;
  color: #415D9F;
  font-size: 70px;
  text-align: center;
}

div.simple-intro > h2{
  color: #2252D7;
  font-size: 40px;
}

div.sidebar{
  position: fixed;
  background: #818181;
  width: 20%;
  display: flex;
  flex-direction: column;
}

div.portfolio{
  background: #415D9F;
  width: 70%;
  height: 40%;
  position: relative;
  float: right;
  text-align: right;
  color: #d7f4ff;
  font-size: 35px;
  font-weight: bold;
}

p.project-description{
  color: white;
  font-size: 20px;
  font-weight: none;
}

div.deatailed-intro{
  background: #d7f4ff;
  width: 20%;
  position: relative;
  float: left;
}

img.personal-link{
  width: auto;
  height: 40px;
}

div.pictures{
  display: flex;
  justify-content: space-around;
  max-height: 300px;
}

img.me{
  max-width: 25%;
  width: auto;
  height: auto;
}
